@{
    ViewData["Title"] = "Gösterge Paneli";
}

<div class="text-center">
    <h1 class="display-4">Hoşgeldiniz</h1>
</div>
<hr />
<canvas class="my-4 w-100" id="myChart2" width="900" height="380"></canvas>
