@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Erişim Engellendi!";
}

    <div class="container py-5 bg-dark text-white">
        <div class="row">
            <div class="col-md-2 text-center">
                <p><i class="fa fa-exclamation-triangle fa-5x"></i><br />Hata Kodu: 403</p>
            </div>
            <div class="col-md-10">
                <h3>OPPSS!! @ViewData["Title"]</h3>
                <p>Bu kaynağa erişim izniniz bulunamadı!<br />Lütfen devam etmek için bir önceki sayfaya geri dönün!</p>
                <a class="btn btn-danger" href="javascript:history.back()">Geri Dön</a>
            </div>
        </div>
    </div>
   
